[project]
	description = DEPRECATED A Gradle plugin which enables good 'ol fashioned unit tests for Android builds.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grangert
[access "refs/for/refs/*"]
	read = group user/grangert
	push = group user/grangert
	label-Code-Review = -2..+2 group user/grangert
	label-Verified = -1..+1 group user/grangert
	rebase = group user/grangert
	removeReviewer = group user/grangert
	submit = group user/grangert
[access "refs/heads/*"]
	read = group user/grangert
	create = group user/grangert
	push = +force group user/grangert
	pushMerge = group user/grangert
[access "refs/tags/*"]
	push = group user/grangert
	push = +force group user/grangert
